$bg-color: #e7e7e7;
$primary-color: #777777;
html, body {
    background: $bg-color;
    font-size: 22px;
}
ul{
    li{
        a{
            color:cyan;
        }
    }
}
h1 {
    color: darken($primary-color, 20%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8em;
    text-align: center;
    letter-spacing: -12px;
    background: linear-gradient(to left, #61D2FF, #F26BAF);
}
p {
    font-size: 19px;
    transition: all .5s;
}
h2, h3 {
    font-weight: bold;
}
.superduper {
    border: 3px solid brown;
}
.megaman {
    font-weight: bold;
}
.hope {
    background: red;
}
.woot {
    font-weight: 300;
}